* {
  font-family: "Open Sans", sans-serif !important;
}

body {
  background-color: #cdd6d5;
  color: #eef4f2;
  width: 100%;
}

header {
  position: relative;
  display: block;
  background-color: #415b76;
  width: 100%;
  text-align: center;

  /* display: flex;
  justify-content: space-between; */
  padding: 20px;
}

header h1 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

header input {
  position: relative;
  display: block;
  background-color: #cdd6d5;
  border: solid 2px #233656;
  padding: 5px 10px;
  width: 500px;
}

.tt-menu {
  text-align: left;
  width: 100%;
  background-color: #cdd6d5;
  border: solid 2px #233656;
  color: #233656;
}

.tt-suggestion {
  padding: 10px 5px;
}

.tt-cursor {
  background-color: #233656;
  color: #cdd6d5;
}